VOLCENGINE_API_KEY=
VOLCENGINE_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
VOLCENGINE_MODEL=deepseek-r1-250120
OPENROUTER_API_KEY=
LOCAL_VLLM_URL=http://127.0.0.1:7000/v1
LOCAL_VLLM_MODEL=DeepSeek-R1-Distill-Qwen-32B

ARXIV_DATA_PARQUET=/Users/yanqiang/Projects/DeepResearch-R1/workflows/data/papers_metadata.parquet

DMXAPI_KEY=


DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL_REASON=deepseek-reasoner
DEEPSEEK_MODEL_CHAT=deepseek-chat


SAMBANOVA_API_KEY=
SAMBANOVA_BASE_URL=https://api.sambanova.ai/v1
LLM_REASONING=DeepSeek-R1-Distill-Llama-70B
LLM_REGULAR=Meta-Llama-3.3-70B-Instruct
TAVILY_API_KEY=